<footer id="contact">
  <div class="container">
    <p>&nbsp;</p>
    <div class="col-md-12 center">
      <h4>Contact</h4>
      <ul class="list-unstyled">
        <li class="padding-bottom">
          <a href="/about" id="footer-a-contact-about" class="btn btn-second li-width">
            About
          </a>
        </li>
        <li class="padding-bottom">
          <a id="footer-a-contact-mail" href="mailto:info@musicasmedicine.nl" class="btn btn-second li-width" target="_blank">
            info@musicasmedicine.nl
          </a>
        </li>
        <li>
          <a id="footer-a-contact-phone" href="tel:+31633919249" class="btn btn-second li-width">
            Call
            <i class="fa fa-phone" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-12 foot-social text-center">
      <h5>Follow us on</h5>
      <ul class="list-inline">
        <li>
          <a class="btn btn-first full-radius" href="https://www.facebook.com/Music-as-Medicine-1025666594159371/" target="_blank">
            <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
            <span class="sr-only">Facebook</span>
          </a>
        </li>
        <li>
          <a class="btn btn-first full-radius" href="https://www.linkedin.com/in/astrid-gribnau-md-8534a917/" target="_blank">
            <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
            <span class="sr-only">LinkedIn</span>
          </a>
        </li>
        <li>
          <a class="btn btn-first full-radius" href="#" target="_blank">
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
            <span class="sr-only">Twitter</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="text-center">
    <p class="copy">© 2017 Music As Medicine</p>
    <a>&nbsp;</a>
  </div>
</footer>
</footer>
