<div class="testimonial-container tex-center">
<div class="container content text-center" id="testimonials">
  <h1 class="testimonial-title">Professional Evidence </h1>
  <hr>
  <% @testimonials.each do |testimonial| %>
  <div class="col-md-4">
    <div class="testimonials">
      <div class="active item">
        <div class="carousel-info">
          <%= image_tag testimonial.photo, class: 'pull-left' %>
          <div class="pull-left">
            <span class="testimonials-name"><%= testimonial.full_name %></span>
            <span class="testimonials-post"><%= testimonial.title %></span>
          </div>
        </div>
        <blockquote>
          <p><%= testimonial.quote%></p>
        </blockquote>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>
