<div class="text-center page-title">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="right-border">
          <h2> Music
            <div class="play" id="btn1" style="cursor:pointer;">
              <a class="play-icon">&#9658;</a></div>
              <audio id="sound1" >
                <source src="/assets/1.mp3" type='audio/mpeg'/>
              </audio>
          </h2>
        </div>
      </div>
      <div class="col-md-4">
        <div class="right-border">
          <h2> Music
            <div class="play" id="btn2" style="cursor:pointer;">
              <a class="play-icon">&#9658;</a></i></div>
              <audio id="sound2" >
                <source src="/assets/2.mp3" type='audio/mpeg'/>
              </audio>
          </h2>
        </div>
      </div>
      <div class="col-md-4">
        <div class="right-border">
          <h2> Music
            <div class="play" id="btn3" style="cursor:pointer;">
              <a class="play-icon">&#9658;</a></i></div>
              <audio id="sound3" >
                <source src="/assets/3.mp3" type='audio/mpeg'/>
              </audio>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container text-center">
<h1>Music as Medicine</h1>
<h4>Music is already being used as medicine all around the world </h4>
<hr>
</div>
<%= render 'shared/carousel' %>
<div class="container">
<hr>
</div>
<div class="text-center">
<a href="<%= categories_path %>" class="btn btn-second btn-homepage">See More Effects</a>
  </div>
<%= render 'shared/testimonials' %>
