<div class="text-center page-title">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="right-border">
          <h2>
            <i class="fa fa-music" aria-hidden="true"></i>
            Music
          </h2>
          <h5>Second line Placholder</h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="right-border">
          <h2>
            <i class="fa fa-music" aria-hidden="true"></i>
            Music
          </h2>
          <h5>Second line Placholder</h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="right-border">
          <h2>
            <i class="fa fa-music" aria-hidden="true"></i>
            Music
          </h2>
          <h5>Second line Placholder</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container text-center">
<h1>Music as Medicine</h1>
<h4>Music is already being used as medicine all around the world </h4>
<hr>
</div>
<%= render 'shared/carousel' %>
<%= render 'shared/testimonials' %>
