<div class="row">
  <% @abouts.each do |about| %>
    <h3>About</h3>
    <p><%= about.name %></p>
    <br>
    <p><%= about.motto %></p>
    <br>
    <%= image_tag about.photo, size: "300x250" %>
    <br>
    <p><%= about.bio %></p>
    <% end %>
</div>
