@import "bootstrap-sprockets";
@import "bootstrap";

// body

body {
  background-color: whitesmoke;
  font-family: 'Allerta Stencil', sans-serif;
}

// footer

footer {
  background-image: image-url('footer-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
  margin-top: 5em;
}

footer a {
  text-decoration: none !important;
  color:inherit;
}

.center {
  text-align: center;
}

.center h4 {
  font-size: 1.5em;
}
// header

header {
  background-image: image-url('header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
  background-position:50% 8%;
}

.banner-title {
  padding: 5%;
}

.banner-title h1 {
  font-size: 6em;
    font-family: 'Barrio', cursive;
}

.banner-title h5 {
  font-size: 2em;
  font-weight: bold;
}

.headsearch {
  background-color: rgba(000,0,0,0.8);
  padding-bottom: 5%;
  padding-top: 3%;
}

header a {
  text-decoration: none !important;
  color:inherit;
}

a.btn-second {
  margin-top: 10px;
}
// Misc.

.no-radius {
  border-radius: 0;
}

.full-radius {
  border-radius: 100% !important;
}

.li-width {
  width: 40em;
  font-size: 1em;
}

.btn-width {
  width: 8em;
}

.padding-bottom {
  padding-bottom: 0.5em;
}

// btn-first

.btn-first {
  color: #FFFFFF;
  background-color: #0090A3;
  border-color: #007E8F;
  border-radius: 0;
  border: 0;
  transition: all 0.3s ease 0s;
}

.btn-first:hover,
.btn-first:focus,
.btn-first:active,
.btn-first.active,
.open .dropdown-toggle.btn-first {
  color: #FFFFFF;
  background-color: #005A66;
  border-color: #007E8F;
}

.btn-first:active,
.btn-first.active,
.open .dropdown-toggle.btn-first {
  background-image: none;
}

.btn-first.disabled,
.btn-first[disabled],
fieldset[disabled] .btn-first,
.btn-first.disabled:hover,
.btn-first[disabled]:hover,
fieldset[disabled] .btn-first:hover,
.btn-first.disabled:focus,
.btn-first[disabled]:focus,
fieldset[disabled] .btn-first:focus,
.btn-first.disabled:active,
.btn-first[disabled]:active,
fieldset[disabled] .btn-first:active,
.btn-first.disabled.active,
.btn-first[disabled].active,
fieldset[disabled] .btn-first.active {
  background-color: #0090A3;
  border-color: #007E8F;
}

.btn-first .badge {
  color: #0090A3;
  background-color: #FFFFFF;
}

// btn-second

.btn-second {
  color: #FFFFFF;
  background-color: #F38030;
  border-color: #F27218;
  border-radius: 0;
  border: 0;
  transition: all 0.3s ease 0s;
}

.btn-second:hover,
.btn-second:focus,
.btn-second:active,
.btn-second.active,
.open .dropdown-toggle.btn-second {
  color: #FFFFFF;
  background-color: #E76E0D;
  border-color: #F27218;
}

.btn-second:active,
.btn-second.active,
.open .dropdown-toggle.btn-second {
  background-image: none;
}

.btn-second.disabled,
.btn-second[disabled],
fieldset[disabled] .btn-second,
.btn-second.disabled:hover,
.btn-second[disabled]:hover,
fieldset[disabled] .btn-second:hover,
.btn-second.disabled:focus,
.btn-second[disabled]:focus,
fieldset[disabled] .btn-second:focus,
.btn-second.disabled:active,
.btn-second[disabled]:active,
fieldset[disabled] .btn-second:active,
.btn-second.disabled.active,
.btn-second[disabled].active,
fieldset[disabled] .btn-second.active {
  background-color: #F38030;
  border-color: #F27218;
}

.btn-second .badge {
  color: #F38030;
  background-color: #FFFFFF;
}

// btn-trans

.btn-trans {
  color: #FFFFFF;
  background-color: rgba(000,0,0,0.1);
  border-color: #FFFFFF;
  border-radius: 0;
  transition: all 0.3s ease 0s;
  padding: 0.5em;
  padding-left: 3em;
  padding-right: 3em;
  font-size: 1.3em;
}

.btn-trans:hover,
.btn-trans:focus,
.btn-trans:active,
.btn-trans.active,
.open .dropdown-toggle.btn-trans {
  color: #FFFFFF;
  background-color: #F38030;
  border-color: #F38030;
}

.btn-trans:active,
.btn-trans.active,
.open .dropdown-toggle.btn-trans {
  background-image: none;
}

.btn-trans.disabled,
.btn-trans[disabled],
fieldset[disabled] .btn-trans,
.btn-trans.disabled:hover,
.btn-trans[disabled]:hover,
fieldset[disabled] .btn-trans:hover,
.btn-trans.disabled:focus,
.btn-trans[disabled]:focus,
fieldset[disabled] .btn-trans:focus,
.btn-trans.disabled:active,
.btn-trans[disabled]:active,
fieldset[disabled] .btn-trans:active,
.btn-trans.disabled.active,
.btn-trans[disabled].active,
fieldset[disabled] .btn-trans.active {
  background-color: #000000;
  border-color: #FFFFFF;
}

.btn-trans .badge {
  color: #000000;
  background-color: #FFFFFF;
}

// carousel

.card {
  color: #ffffff;
}

.card-img-top {
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:50% 8%;
}

.card-border {
  background-color: rgba(000,0,0,0.4);
  height: 360px;
  padding-top: 15em;
  transition: all 0.3s ease 0s;
  border: 1.5px solid #fff;
}

.card-img-top:hover > .card-border {
    background-color: rgba(000,0,0,0.2);
    height: 150px;
    padding-top: 1em;
    border: 1.5px solid #fff;
}

// testimonial

.content {
    padding-top: 30px;
}

/* Testimonials */
.testimonials blockquote {
    background: #f8f8f8 none repeat scroll 0 0;
    border: medium none;
    color: #666;
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 15px;
    position: relative;
}
.testimonials blockquote::before {
    width: 0;
    height: 0;
	right: 0;
	bottom: 0;
	content: " ";
	display: block;
	position: absolute;
    border-bottom: 20px solid #fff;
	border-right: 0 solid transparent;
	border-left: 15px solid transparent;
	border-left-style: inset; /*FF fixes*/
	border-bottom-style: inset; /*FF fixes*/
}
.testimonials blockquote::after {
    width: 0;
    height: 0;
    right: 0;
    bottom: 0;
    content: " ";
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: #F38030 transparent transparent transparent;
}
.testimonials .carousel-info img {
    border: 1px solid #f5f5f5;
    border-radius: 150px !important;
    height: 75px;
    padding: 3px;
    width: 75px;
}
.testimonials .carousel-info {
    overflow: hidden;
}
.testimonials .carousel-info img {
    margin-right: 15px;
}
.testimonials .carousel-info span {
    display: block;
}
.testimonials span.testimonials-name {
    color: #F38030;
    font-size: 16px;
    font-weight: 300;
    margin: 23px 0 7px;
}
.testimonials span.testimonials-post {
    color: #656565;
    font-size: 12px;
}

.carousel-control.right {
  background-image: none !important;
}

.carousel-control.left {
  background-image: none !important;
}
.card-img-top {
  height: 350px;
}

#testimonials {
  margin-top: 50px;
  margin-bottom: 50px;
}
