<div class="text-center page-title">
  <h2>Effects of Music</h2>
</div>
<div class="container">
  <% @categories_top_9.each do |category| %>
  <a href="<%=category_path(category.id)%>">
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-img-top img-responsive" style="background-image: url('<%= category.photo %>')">
          <div class="card-border">
            <h3><%= category.name %></h3>
            <h5><%= category.description %></h5>
          </div>
        </div>
      </div>
    </div>
  </a>
  <% end %>
</div>
